button.btn.btn-info.btn-raised.margin-bottom( type="button" data-toggle="modal" data-target="#Modal-box") Ajouter un Produit
.box.box-solid
	.box-header.with-border
		h3.box-title Produits
		.box-tools
			button.btn.btn-box-tool(type='button', data-widget='collapse')
				i.fa.fa-minus
	.box-body.no-padding
		ul.nav.nav-pills.nav-stacked
			li.active
				a(href='mailbox.html')
					i.fa.fa-inbox
					|  Tous les produits
					span.label.label-primary.pull-right 12
			li
				a(href='#')
					i.fa.fa-envelope-o
					|  Produits vendu
			li
				a(href='#')
					i.fa.fa-file-text-o
					|  Produit en stock
			li
				a(href='#')
					i.fa.fa-filter
					|  Retour
					span.label.label-warning.pull-right 65
			li
				a(href='#')
					i.fa.fa-trash-o
					|  Produit defectueux
	// /.box-body
// /. box
.box.box-solid
	.box-header.with-border
		h3.box-title Labels
		.box-tools
			button.btn.btn-box-tool(type='button', data-widget='collapse')
				i.fa.fa-minus
	.box-body.no-padding
		ul.nav.nav-pills.nav-stacked
			li
				a(href='#')
					i.fa.fa-circle-o.text-red
					|  Important
			li
				a(href='#')
					i.fa.fa-circle-o.text-yellow
					|  Promotions
			li
				a(href='#')
					i.fa.fa-circle-o.text-light-blue
					|  Social
	// /.box-body
// /.box
