mixin myform(form_items)
    each top_item in form_items
        .col-md-6.col-sm-12.col-lg-6
            .form-group.label-floating
                .input-group
                    span.input-group-addon
                        -var icone = {'class':top_item.monicone}
                        i()&attributes(icone)
                    -var label = {'class':top_item.classlabel , 'for':top_item.identifiant }
                    label()&attributes(label)= top_item.title
                    -var input = {'class':top_item.classinput , 'id':top_item.identifiant , 'type':top_item.type ,'required': top_item.required}
                    input()&attributes(input)
                    p(class="help-block")= top_item.help
                    span.material-input


mixin selectform(sel_items)
    .col-md-6.col-sm-12.col-lg-6
        select.form-control.label-floating
            each item in sel_items
                option()= item.titleopt

mixin areaform(area_items)
    .col-md-6.col-sm-12.col-lg-6
        .form-control.label-floating
            .input-group
                each item in area_items
                    span.input-group-addon
                        -var icone = {'class':item.monicone}
                        i()&attributes(icone)
                    -var label = {'class':item.classlabel , 'for':item.identifiant }
                    label()&attributes(label)= item.title
                    -var input = {'class':item.classinput , 'id':item.identifiant , 'type':item.type ,'required': item.required, 'row':item.row , 'maxlength':item.length}
                    textarea()&attributes(input)
                    p(class="help-block")= item.help
                    span.material-input

.stepwizard
    .stepwizard-row.setup-panel
        .stepwizard-step
            a.btn.btn-primary.btn-circle(href='#step-1', type='button') 1
            p Step 1
        .stepwizard-step
            a.btn.btn-default.btn-circle(href='#step-2', type='button', disabled='disabled') 2
            p Step 2
        .stepwizard-step
            a.btn.btn-default.btn-circle(href='#step-3', type='button', disabled='disabled') 3
            p Step 3
form(role='form')
    #step-1.row.setup-content
        .col-xs-12
            .col-md-12
                h3  Step 1
                +myform([{
                    'type': 'text',
                    'required': 'required',
                    'monicone': 'mdi mdi-cart',
                    'classlabel': 'control-label',
                    'identifiant': 'nomDuProduit',
                    'classinput': 'form-control',
                    'title': 'Nom du produit',
                    'help': 'Introduire le Nom du produit'
                },
                    // Code bare
                    {
                        'type': 'text',
                        'required': 'required',
                        'monicone': 'mdi mdi-barcode',
                        'classlabel': 'control-label',
                        'identifiant': 'codeBar',
                        'classinput': 'form-control',
                        'title': 'Code bare',
                        'help': 'Introduire le code bar'
                    },
                    // Cout d'achat
                    {
                        'type': 'text',
                        'required': 'required',
                        'monicone': 'mdi mdi-sort-numeric',
                        'classlabel': 'control-label',
                        'identifiant': 'CoutAachat',
                        'classinput': 'form-control',
                        'title': 'Cout d\'achat',
                        'help': 'Introduire le Cout d\'achat'
                    },
                    // Specification du produit
                    {
                        'type': 'text',
                        'required': 'required',
                        'monicone': 'mdi mdi-message-text-outline',
                        'classlabel': 'control-label',
                        'identifiant': 'productSpecification',
                        'classinput': 'form-control',
                        'title': 'Specification du produit',
                        'help': 'Introduire la Specification du produit'
                    }])
                button.btn.btn-primary.nextBtn.btn-raised.pull-right(type='button') Next
    #step-2.row.setup-content
        .col-xs-12
            .col-md-12
                h3  Step 2
                +myform([
                    // Emplacement
                    {
                        'type': 'text',
                        'required': 'required',
                        'monicone': 'mdi mdi-cart',
                        'classlabel': 'control-label',
                        'identifiant': 'emplacement',
                        'classinput': 'form-control',
                        'title': 'Emplacement du Produit',
                        'help': 'Introduire l\'Emplacement'
                    },
                    // quantité
                    {
                        'type': 'number',
                        'required': 'required',
                        'monicone': 'mdi mdi-map-marker-radius',
                        'classlabel': 'control-label',
                        'identifiant': 'emplacement',
                        'classinput': 'form-control',
                        'title': 'Emplacement du Produit',
                        'help': 'Introduire l\'Emplacement'
                    }
                ])
                +selectform([
                    {'titleopt': 'Clavier'},
                    {'titleopt': 'Souri'},
                    {'titleopt': 'Casque'},
                    {'titleopt': 'Carte wifi'},
                    {'titleopt': 'Carte Mere'},
                    {'titleopt': 'CPU'},
                    {'titleopt': 'RAM'},
                    {'titleopt': 'Disque Dur'},
                    {'titleopt': 'Ecran'},
                    {'titleopt': 'Lecteur CD/DVD'},
                    {'titleopt': 'Clé USB'}

                ])
                button.btn.btn-primary.nextBtn.btn-raised.pull-right(type='button') Next
    #step-3.row.setup-content
        .col-xs-12
            .col-md-12
                h3  Step 3
                +areaform([
                    {
                        'type': 'textarea',
                        'required': 'required',
                        'monicone': 'mdi mdi-cart',
                        'classlabel': 'control-label',
                        'identifiant': 'description',
                        'classinput': 'form-control',
                        'title': 'Description',
                        'help': 'Introduire une description du produit',
                        'row': '3',
                        'length': '100'
                    }
                ])
                button.btn.btn-success.btn-raised.pull-right(type='submit') Finish!