head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	title AdminLTE 2 | Dashboard
	// Tell the browser to be responsive to screen width
	meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
	// Bootstrap 3.3.5
	link(rel='stylesheet', href='assets/css/bootstrap.css')
	link(rel='stylesheet', href='assets/css/main.css')
	link(rel='stylesheet', href='assets/css/bootstrap-material-design.css')
	link(rel='stylesheet', href='assets/css/ripples.css')
	link(rel='stylesheet', href='assets/css/materialdesignicons.min.css')
	// Font Awesome
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
	// Ionicons
	link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
	// jvectormap
	link(rel='stylesheet', href='assets/plugins/jvectormap/jquery-jvectormap-1.2.2.css')
	// Theme style
	link(rel='stylesheet', href='assets/css/AdminLTE.css')
	link(rel='stylesheet', href='assets/css/plugins/iCheck/flat/blue.css')
	// Morris chart
	link(rel='stylesheet', href='assets/css/plugins/morris/morris.css')
	// jvectormap
	link(rel='stylesheet', href='assets/css/plugins/jvectormap/jquery-jvectormap-1.2.2.css')
	// Date Picker
	link(rel='stylesheet', href='assets/css/plugins/datepicker/datepicker3.css')
	// Daterange picker
	link(rel='stylesheet', href='assets/css/plugins/daterangepicker/daterangepicker-bs3.css')
	// bootstrap wysihtml5 - text editor
	link(rel='stylesheet', href='assets/css/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')
	// select2
	link(rel='stylesheet', href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css")
	link(rel='stylesheet', href="assets/css/plugins/jvectormap/jquery-jvectormap-1.2.2.css")
