section.content-header
		h1
				| Dashboard
				small Control panel
		ol.breadcrumb
				li
						a(href='#')
								i.fa.fa-dashboard
								|  Home
				li.active Dashboard
// Main content
section.content
	.row
		block content
			// Left col
			section.col-md-3
				block boite_a_outils
			// /.Left col
			// right col (We are only adding the ID to make the widgets sortable)
			section.col-md-9
				block outils
											// /.col
									// /.row
					// /.box
			// right col
