#Modal-box.modal.fade(tabindex='-1', role='dialog')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
				h4.modal-title Ajouter un produit
			.modal-body
				include formulaire.jade
		// /.modal-content
	// /.modal-dialog
// /.modal
