include modal.jade
.box
	.box-header
		h3.box-title Data Table With Full Features
	// /.box-header
	.box-body
		#example1_wrapper.dataTables_wrapper.form-inline.dt-bootstrap
			.row
				.col-sm-6
					#example1_length.dataTables_length
						label
							| Show 
							select.form-control.input-sm(name='example1_length', aria-controls='example1')
								option(value='10') 10
								option(value='25') 25
								option(value='50') 50
								option(value='100') 100
							|  entries
				.col-sm-6
					#example1_filter.dataTables_filter
						label
							| Search:
							input.form-control.input-sm(type='search', placeholder='', aria-controls='example1')
			.row
				.col-sm-12
					table#example1.table.table-bordered.table-striped.dataTable(role='grid', aria-describedby='example1_info')
						thead
							tr(role='row')
								th.sorting_asc(tabindex='0', aria-controls='example1', rowspan='1', colspan='1', style='width: 297px;', aria-sort='ascending', aria-label='Rendering engine: activate to sort column descending') Rendering engine
								th.sorting(tabindex='0', aria-controls='example1', rowspan='1', colspan='1', style='width: 360px;', aria-label='Browser: activate to sort column ascending') Browser
								th.sorting(tabindex='0', aria-controls='example1', rowspan='1', colspan='1', style='width: 321px;', aria-label='Platform(s): activate to sort column ascending') Platform(s)
								th.sorting(tabindex='0', aria-controls='example1', rowspan='1', colspan='1', style='width: 256px;', aria-label='Engine version: activate to sort column ascending') Engine version
								th.sorting(tabindex='0', aria-controls='example1', rowspan='1', colspan='1', style='width: 188px;', aria-label='CSS grade: activate to sort column ascending') CSS grade
						tbody
							tr.odd(role='row')
								td.sorting_1 Gecko
								td Firefox 1.0
								td Win 98+ / OSX.2+
								td 1.7
								td A
							tr.even(role='row')
								td.sorting_1 Gecko
								td Firefox 1.5
								td Win 98+ / OSX.2+
								td 1.8
								td A
							tr.odd(role='row')
								td.sorting_1 Gecko
								td Firefox 2.0
								td Win 98+ / OSX.2+
								td 1.8
								td A
							tr.even(role='row')
								td.sorting_1 Gecko
								td Firefox 3.0
								td Win 2k+ / OSX.3+
								td 1.9
								td A

						tfoot
							tr
								th(rowspan='1', colspan='1') Rendering engine
								th(rowspan='1', colspan='1') Browser
								th(rowspan='1', colspan='1') Platform(s)
								th(rowspan='1', colspan='1') Engine version
								th(rowspan='1', colspan='1') CSS grade
			.row
				.col-sm-5
					#example1_info.dataTables_info(role='status', aria-live='polite') Showing 1 to 10 of 57 entries
				.col-sm-7
					#example1_paginate.dataTables_paginate.paging_simple_numbers
						ul.pagination
							li#example1_previous.paginate_button.previous.disabled
								a(href='#', aria-controls='example1', data-dt-idx='0', tabindex='0') Previous
							li.paginate_button.active
								a(href='#', aria-controls='example1', data-dt-idx='1', tabindex='0') 1
							li.paginate_button
								a(href='#', aria-controls='example1', data-dt-idx='2', tabindex='0') 2
							li.paginate_button
								a(href='#', aria-controls='example1', data-dt-idx='3', tabindex='0') 3
							li.paginate_button
								a(href='#', aria-controls='example1', data-dt-idx='4', tabindex='0') 4
							li.paginate_button
								a(href='#', aria-controls='example1', data-dt-idx='5', tabindex='0') 5
							li.paginate_button
								a(href='#', aria-controls='example1', data-dt-idx='6', tabindex='0') 6
							li#example1_next.paginate_button.next
								a(href='#', aria-controls='example1', data-dt-idx='7', tabindex='0') Next
	// /.box-body
// /.box
