.box
	.box-header.with-border
		h3.box-title Ajouter un produit
	// /.box-header
	.box-body

		form(role='form')
			.row
				.col-md-6
					.form-group.label-floating
						.input-group
							span.input-group-addon
								i.mdi.mdi-package
							label.control-label(for='nomDuProduit') Nom du produit
							input#nomDuProduit.form-control(type='text' required="required")
							p(class="help-block") Introduire le nom du produit
							span.material-input
					.form-group.label-floating
						.input-group
							span.input-group-addon
								i.mdi.mdi-barcode
							label.control-label(for='codeBar') Code bare
							input#codeBar.form-control(type='text')
					.form-group.label-floating
						.input-group
							span.input-group-addon
								i.mdi.mdi-sort-numeric
							label.control-label(for='amount') Cout d'achat
							input#amount.form-control( name='amount', type='text')

				.col-md-6
					.form-group.label-floating
						.input-group
							span.input-group-addon
								i.mdi.mdi-message-text-outline
							label.control-label(for='productSpecification') Specification du produit
							input#location.form-control( name='location', type='text')

					.form-group.label-floating
						.input-group
							span.input-group-addon
								i.mdi.mdi-calendar-check
							label.control-label(for='expirationDate') Date d'expiration
							input#expirationDate.form-control( name='expirationDate', type='text')

					.form-group.label-floating
						.input-group
							span.input-group-addon
								i.mdi.mdi-map-marker-radius
							label.control-label(for='location') Emplacement
							input.form-control( name='location', type='text')
				.col-md-12
					.form-group.label-floating
						.input-group
							span.input-group-addon
								i.mdi.mdi-message-text-outline
							label.control-label(for='description') Description
							textarea#decription.form-control( name='location', type='text')
				.col-md-10.col-md-offset-2
					.form-group
						.checkbox
							label
								input(type='checkbox')
								|  Votre choix
						.togglebutton
							label
								input(type='checkbox', checked='')
								|  avec garantie ?

			.box-footer
				button.btn.btn-primary.btn-raised.pull-right(type='submit') Ajouter
	// /.box-footer
