// jQuery 2.1.4
script(src='http://code.jquery.com/jquery-2.1.4.js')
// jQuery UI 1.11.4
script(src='assets/css/plugins/jQueryUI/jquery-ui.js')
// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
	$.widget.bridge('uibutton', $.ui.button);
// Bootstrap 3.3.5
script(src='assets/js/bootstrap.min.js')
// Morris.js charts
script(src='https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
script(src='assets/css/plugins/morris/morris.min.js')
// Sparkline
script(src='assets/css/plugins/sparkline/jquery.sparkline.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js')
// jvectormap
script(src='assets/css/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')
script(src='assets/css/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')
// jQuery Knob Chart
script(src='assets/css/plugins/knob/jquery.knob.js')
// daterangepicker
script(src='https://cdnjs.cloudflare.com/ajax/libs/momentjs/2.10.2/moment.min.js')
script(src='assets/css/plugins/daterangepicker/daterangepicker.js')
//datepicker
script(src='assets/css/plugins/datepicker/bootstrap-datepicker.js')
// Bootstrap-WYSIHTML5
script(src='assets/css/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')
// Slimscroll
script(src='assets/css/plugins/slimScroll/jquery.slimscroll.min.js')
// FastClick
script(src='assets/css/plugins/fastclick/fastclick.js')
// AdminLTE App
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.js')
script(src='assets/js/ripples.js')
script(src='assets/js/material.js')
script(src='assets/js/angular.min.js')
script(src='assets/js/app.min.js')
script(src='assets/js/function.js')





//
	Optionally, you can add Slimscroll and FastClick plugins.
	Both of these plugins are recommended to enhance the
	user experience. Slimscroll is required when using the
	fixed layout.
