.sidebar
	.user-panel
		.pull-left.image
			img(src='assets/img/user2-160x160.jpg', alt='User Image')
		.pull-left.info
			p user name
			a(href="#")
				i.fa.fa-circle.text-success Online
	form(action="#" method="get" class="sidebar-form")
		.input-group
			input(type="text" name="q", class="form-control", placeholder="Search...")
			span.input-group-btn
				button(type="submit", name="search", id="search-btn", class="btn btn-flat"): i.fa.fa-search

	ul.sidebar-menu
		li.header header
		li.active
			a(href="#")
				i.fa.fa-cart-plus
				span produits
				//- i.fa.fa-cart-plus.pull-right
		li
			a(href="#")
				i.fa.fa-user
				span Fournisseurs
				//- i.fa.fa-user.pull-right
		li
			a(href="#")
				i.fa.fa-cogs
				span Parametre
				//- i.fa.fa-cogs.pull-right
		li
			a(href="#")
				i.fa.fa-pie-chart
				span vu d'ensemble
				//- i.fa.fa-pie-chart.pull-right
