doctype
html
	include head.jade
body.wysihtml5-supported.skin-blue.sidebar-mini
	.wrapper
		// Main Header
		header.main-header
			include top_bar
		.main-sidebar
			include side_bar.jade

		.content-wrapper(style="min-height: 916px;")
			include main-board.jade


	include script.jade